@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;550;700;900&family=Raleway:wght@400;600;800;900&display=swap');

:root {
    --primary-color: #667AF3;
}
  
body {
    background-color: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.table_scraper_results, th, td {
    border: 1px solid black; 
    text-align: center;

    .KE {
        width: 30px
    }
}