{% extends "layout.html" %}
    {% block title %}
        Valor de Venta del <span>Dólar</span>
    {% endblock title %}

    {% block graphs %}
        <img class="intraday" src="https://storage.googleapis.com/data-bucket-gft//DolarPeru_data/intraday-vta.png">
        <img class="last-5-days" src="https://storage.googleapis.com/data-bucket-gft//DolarPeru_data/last5days-vta.png">
        <img class="last-30-days" src="https://storage.googleapis.com/data-bucket-gft//DolarPeru_data/last30days-vta.png">
    {% endblock graphs %}
